node_modules
# Keep environment variables out of version control
.env
.package-lock.json
prisma/migrations

#Los archivos para escribir las keys
src/keys/privateKey.pem
src/keys/publicKey.pem

#Configuración de vsCode
.vscode
